#graph { 
    position:absolute;
    top:100px;
    left:0;
    width:920px;
    height:600px;
    min-width: 310px;
    margin: 0 auto;
    opacity: 1; //半透明度 0.0-1.0
    z-index: 10;
}
#background{
    position:absolute;
    top:0;
    left:0;
    width:1024px;
    height:768px;
    background-color: #deffd4;
    z-index: 0; 
}
#body   {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    position:absolute;
    top:0;
    left:0;
    width:1024px;
    height:768px;
    z-index: 20; 
}
#loadingtitle
{
    position:absolute;
    top:260px;
    left:440px;
    font-size: 3.4em;
    font-weight: 900;
    color: #ffffff;
}
.label{
    font-size: 1.4em;
    font-weight: 700;
}
.indicator{
    font-size: 4.0em;
    font-weight: 900;
}

#passenger{
    position:absolute;
    top:20px;
    left:100px;
}

#driver_hiyari{
    position:absolute;
    top:440px;
    left:740px;
    color: #7cb5ec;
}
#passenger_hiyari{
    position:absolute;
    top:540px;
    left:700px;
    color: #e97878;
}
#driver_hiyari_num{
    position:absolute;
    top:400px;
    left:850px;
    color: #7cb5ec;
}
#passenger_hiyari_num{
    position:absolute;
    top:500px;
    left:850px;
    color: #e97878;
}

#passenger_illust_1{
  display:block;
}
#passenger_illust_2{
  display:none;
}
#passenger_illust_3{
  display:none;
}

